html{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    /*min-height: 100vh;
    display: flex;
    flex-direction: column;*/
}
img{
    max-width: 100%;
    height: auto;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
/* Clase 126. Ejercicios AJAX - APIs: Uploader AJAX con Drag & Drop*/
.dropzone{
    margin-left: auto;
    margin-right: auto;
    border: thick dotted #000;
    background-color: rgba(146, 77, 77, 0.5);
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dropzone.is-active{
    border: thick dashed #000;
    background-color: rgba(0, 128,0,.5);
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;
}

/*Seccion de Animacion*/
@keyframes pulse{
    0%,
    100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

/*Fin de la Seccion*/

/*Barra de Progreso Clase 125. Ejercicios AJAX - APIs: Uploader AJAX con Barra de Progreso*/
progress{
    margin-top: 1rem;
}
/*Fin de la Seccion*/
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 992px;
}
.header{
    padding: .5rem;
    background-color: antiquewhite;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 3rem;
    height: auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 115%;
}
